<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <title>BuyServices</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <script th:src = "@{/scripts/buyServicesScript.js}" charset="utf-8" defer></script>
</head>
<body>
<h1>Buy Services page</h1>
<form>
  <table border="1">
      <tr>
          <th><b>Service</b></th>
          <th><b>Validity Period</b></th>
          <th><b>Optional products</b></th>
      </tr>
      <tr th:each="servicePackage : ${servicePackages}">
          <td><input type="radio" name="servicePackageSelected" th:text="${servicePackage.name}"
                     th:value="${servicePackage.ID}" onclick="enableCheckboxes(this)" required/></td>
          <td><a type="text" th:text="${servicePackage.validity_period}"></a></td>
          <td><input th:each="optionalProduct : ${servicePackage.optionalProducts}" type="checkbox" disabled
                     name="optionalProductID" th:value="${optionalProduct.name}" th:text="${optionalProduct.name}" ></td>
      </tr>
  </table>
    <div> Insert the desired starting date of subscription:
        <input type="date" name="subscriptionDate" required>
    </div>

    <input type="button" value="CONFIRM" onclick="sendOptionalProducts(this)">
</form>
</body>
</html>