<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <title>ConfirmationPage</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
    <p><b>Confirm Service</b></p>
    <div th:text="${servicePackageID}"></div>
    <div th:text="${validity_period}"></div>
    <div th:text="${servicePackageName}"></div>
    <div th:text="${monthlyFee}"></div>
    <div th:each="OptionalProduct : ${optionalProducts}" th:text="${OptionalProduct.name}"></div>
    <div th:text="${subscriptionDate}"></div>
    <div th:text="${endingDate}"></div>
</body>
</html>