<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <title>ConfirmationPage</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:if="${username!=null}" class="top-right-corner">
    <a href="Logout" class="logout">Logout</a>
    <p class="username"><b><span th:text="${username}"></span></b></p>
</div>
<div th:if="${username==null}" class="top-right-corner">
    <p class="username"><b>Guest</b></p>
</div>
<h1>Confirm order</h1>

<p th:if="${orderID!=null}">Resuming your rejected order number <span th:text="${orderID}"></span>!</p>
<div>Order Report</div>
<table>
    <tr><td><b>Service name</b></td><td th:text="${servicePackage.name}"></td></tr>
    <tr><td><b>Validity Period</b></td><td th:text="${servicePackage.validity_period + ' months'}"></td></tr>
    <tr><td><b>Monthly fee</b></td>
        <td>
            <span th:text="${servicePackage.monthly_fee}"></span>
            <span> &euro;</span>
        </td>
    </tr>
    <tr><td><b>Optional products</b></td>
        <td>
            <table class="table1">
                <tr class="tr1" th:each="optionalProduct : ${optionalProducts}">
                    <td class="td1" th:text="${optionalProduct.name}"></td>
                    <td class="td1">
                        <span th:text="${optionalProduct.monthly_fee}"></span>
                        <span> &euro;</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td><b>Subscription date</b></td><td th:text="${subscriptionDate}"></td></tr>
    <tr><td><b>Ending date</b></td><td th:text="${endingDate}"></td></tr>
    <tr><td><b>Total Price</b></td>
        <td>
            <span th:text="${totalPrice}"></span>
            <span> &euro;</span>
        </td>
    </tr>
</table>
<form method="POST" action="GoToConfirmationPage" th:if="${username!=null}">
    <input type="hidden" name="orderID" th:if="${orderID!=null}" th:value="${orderID}">
    <input id="buyOrderButton" class="button1" type="submit" value="Buy Order"/>
</form>
<a href="CheckLoginCustomer" th:if="${username==null}" class="button1">Login</a>
<a href="GoToRegistrationCustomer" th:if="${username==null}" class="button1">Register</a>
</body>
</html>