<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <title>ConfirmationPage</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Confirm order</h1>
    <table>
        <tr>
            <th style="alignment: center"><b>Order Report</b></th>
        </tr>
        <tr><td><b>Service name</b></td><td th:text="${servicePackage.name}"></td></tr>
        <tr><td><b>Validity Period</b></td><td th:text="${servicePackage.validity_period}"></td></tr>
        <tr><td><b>Monthly fee</b></td><td th:text="${servicePackage.monthly_fee}"></td></tr>
        <tr><td><b>Optional products</b></td><td th:each="OptionalProduct : ${optionalProducts}" th:text="${OptionalProduct.name}"></td></tr>
        <tr><td><b>Subscription date</b></td><td th:text="${subscriptionDate}"></td></tr>
        <tr><td><b>Ending date</b></td><td th:text="${endingDate}"></td></tr>
        <tr><td><b>Total Price</b></td><td th:text="${totalPrice}"></td></tr>
    </table>
    <form method="POST" action="GoToConfirmationPage" th:if="${logged}">
        <input id="buyOrderButton" class="button1" type="submit" value="Buy Order"/>
    </form>
    <a href="CheckLoginCustomer" th:if="${!logged}" class="button1">Login</a>
    <a href="GoToRegistrationCustomer" th:if="${!logged}" class="button1">Register</a>
</body>
</html>