<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <title>HomePageCustomer</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <script th:src = "@{/scripts/showDetailsScript.js}" charset="utf-8" defer></script>
</head>
<body>
<div th:if="${username!=null}" class="top-right-corner">
    <a href="Logout" class="logout">Logout</a>
    <p class="username">Welcome back <b><span th:text="${username}"></span></b>!</p>
</div>
<div th:if="${username==null}" class="top-right-corner">
    <p class="username">Welcome to Telco Company <b>guest</b>!</p>
</div>
<a href="CheckLoginCustomer" th:if="${username==null}" class="button1">Login</a>
<a href="GoToBuyServices" class="button1">Buy Services</a>
<table th:if="${insolvent!=0}">
    <tr>
        <th><b>ID Order</b></th>
        <th><b>Service Package</b></th>
        <th><b>Date hour</b></th>
        <th><b>Total value</b></th>
        <th><b></b></th>
    </tr>
    <tr th:each="order : ${rejectedOrders}">
        <td th:text="${order.ID}"></td>
        <td th:text="${order.id_package.name}"></td>
        <td th:text="${order.date_hour}"></td>
        <td th:text="${order.total_value}"></td>
        <td>
            <form action="GoToResumeOrder" method="get">
                <input type="hidden" name="orderID" th:value="${order.ID}">
                <input class="button1" type="submit" value="Resume">
            </form>
        </td>
    </tr>
</table>

<div id="modalContainer" class="modal">
    <div id="modal" class="modal-content">
        <button id="close" class="close">X</button>
    </div>
</div>

<div>Here below are shown all the available service packages</div>
<table>
    <tr>
        <th><b>ID</b></th>
        <th><b>Name</b></th>
        <th><b>Validity period</b></th>
        <th><b>Services</b></th>
        <th><b>Monthly fee</b></th>
    </tr>
    <tr th:each="servicePackage : ${servicePackages}">
        <td th:text="${servicePackage.ID}"></td>
        <td th:text="${servicePackage.name}"></td>
        <td th:text="${servicePackage.validity_period + ' months'}"></td>
        <td>
            <table class="table1">
                <tr class="tr1" th:each="service : ${servicePackage.services}">
                    <td class="td1" th:text="${service.type}" id="type"></td>
                    <td th:if="${service.minutes != 0}" class="tdhidden" th:text="${service.minutes}" id="minutes"></td>
                    <td th:if="${service.sms != 0}" class="tdhidden" th:text="${service.sms}" id="sms"></td>
                    <td th:if="${service.fee_minutes != 0.0}" class="tdhidden" th:text="${service.fee_minutes}" id="fee_minutes"></td>
                    <td th:if="${service.fee_sms != 0.0}" class="tdhidden" th:text="${service.fee_sms}" id="fee_sms"></td>
                    <td th:if="${service.gigabytes != 0}" class="tdhidden" th:text="${service.gigabytes}" id="gigabytes"></td>
                    <td th:if="${service.fee_gigabytes != 0.0}" class="tdhidden" th:text="${service.fee_gigabytes}" id="fee_gigabytes"></td>
                    <td th:if="${service.type != 'Fixed Phone'}" class="td1">
                        <button onclick="showDetails(this)">Details</button>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <span th:text="${servicePackage.monthly_fee}"></span>
            <span> &euro;</span>
        </td>
    </tr>
</table>
</body>
</html>