<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <title>HomePageEmployee</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <script th:src = "@{/scripts/createServicePackageScript.js}" charset="utf-8" defer></script>
</head>
<body>
<a class="username"><p><b>Welcome back <span th:text="${username}"></span>!</b></p></a>
<a href="GoToSalesReport" class="button1" style="margin-right: 0">Sales Report</a>
<p>Here you can create a Service Package
<form id="regForm">
    <div class="tab">Name:
        <p><input placeholder="Name" type="text" class="username" name="name" required></p>
        <p><input placeholder="Validity period"  id="validityPeriod" type="number" class="username" name="validityPeriod" required></p>
        <p><input placeholder="Monthly fee"  type="text" class="username" name="monthlyFee" required></p>
    </div>
    <div class="tab">Insert services:
        <p><table class="table1">
            <tr class="tr1" th:each="service : ${services}">
                <td class="td1">
                    <input  type="checkbox" name="serviceID"
                            th:value="${service.ID}" th:text="${service.ID}" >  <span th:text="${service.type}"></span>
                </td>
            </tr>
        </table>
        <p>
        <p>Insert optional Products:</p>
        <table class="table1">
            <tr class="tr2" th:each="optionalProduct : ${optionalProducts}">
                <td class="td2">
                    <input  type="checkbox" name="optionalProductID"
                            th:value="${optionalProduct.ID}" th:text="${optionalProduct.name}" >
                    <span id="optionalProductValidityPeriod" style="display: none" th:text="${optionalProduct.validity_period}"></span>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button type="button" class="button1" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" class="button1" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>
<br>
<p>Here you can create an optional product
<div>
    <form method="POST" action="CreateOptionalProduct">
        <p>
            <label> Name:
                <input type="text" class="username" name="name" required>
            </label>
        </p>
        <p>
            <label> Validity Period:
                <input type="number" class="username" name="validity_period" required><span> months</span>
            </label>
        </p>
        <p>
            <label> Monthly Fee:
                <input type="text" class="username" name="monthly_fee" required><span> &euro;</span>
            </label>
        </p>
        <p>
            <input class="button1" type="submit" value="Create">
        </p>
    </form>
</div>
</body>
</html>