<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <title>Payment Result Page</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
    <a th:if="${username!=null}" class="username"><p><b><span th:text="${username}"></span></b></p>
    </a>
    <a th:if="${username==null}" class="username"><p><b>Guest</b></p>
    </a>
    <p th:if="${orderOutcome}">Your payment has been <b>accepted</b>!</p>
    <p th:if="${!orderOutcome}">Your payment has been <b>rejected</b>!</p>

    <p><a href="GoToHomePageCustomer">Return to the home page</a></p>
</body>
</html>