<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
  <title>Sales Report Page</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="top-right-corner">
  <a href="Logout" class="logout">Logout</a>
  <p class="username"><b><span th:text="${username}"></span></b></p>
</div>
<h1>Sales Report</h1>
<p> Insolvent users:
  <table>
    <tr class="insolventCustomersTableRow">
      <th>Username</th>
      <th>Email</th>
    </tr>
    <tr th:each="customer : ${insolventCustomers}">
      <td th:text="${customer.username}"></td>
      <td th:text="${customer.mail}"></td>
    </tr>
  </table>
</p>
<p> Suspended orders:
  <table>
    <tr class="insolventCustomersTableRow">
      <th>ID</th>
      <th>Date & Hour</th>
      <th>Total Amount</th>
      <th>Subscription Date</th>
      <th>User Purchaser</th>
      <th>Service Package</th>
    </tr>
    <tr th:each="order : ${rejectedOrders}">
      <td th:text="${order.ID}"></td>
      <td th:text="${order.date_hour}"></td>
      <td th:text="${order.total_value + ' euros'}"></td>
      <td th:text="${order.sub_date}"></td>
      <td th:text="${order.userOrderer.username}"></td>
      <td th:text="${order.id_package.name}"></td>
    </tr>
  </table>
</p>
<p> Alerts:
<table>
  <tr class="insolventCustomersTableRow">
    <th>ID</th>
    <th>User</th>
    <th>Date & Hour</th>
    <th>Total Amount</th>
    <th>User email</th>
  </tr>
  <tr th:each="alert : ${alerts}">
    <td th:text="${alert.ID}"></td>
    <td th:text="${alert.user_id.username}"></td>
    <td th:text="${alert.datetime}"></td>
    <td th:text="${alert.amount + ' euros'}"></td>
    <td th:text="${alert.mail}"></td>
  </tr>
</table>
</p>

<p> Average Number of Optional Product:
<table>
  <tr class="insolventCustomersTableRow">
    <th>Package Name</th>
    <th>Average Number of Optional Products</th>
  </tr>
  <tr th:each="averageNumber : ${averageNumberOfOptP}">
    <td th:text="${averageNumber.packageName}"></td>
    <td th:text="${averageNumber.average_of_opt_products}"></td>
  </tr>
</table>
</p>

<p> Total Purchases Per Package:
<table>
  <tr class="insolventCustomersTableRow">
    <th>Package Name</th>
    <th>Average Number of Optional Products</th>
  </tr>
  <tr th:each="totalPurchases : ${totalPurchasesPerPackage}">
    <td th:text="${totalPurchases.packageName}"></td>
    <td th:text="${totalPurchases.total_purchases}"></td>
  </tr>
</table>
</p>

<p> Total Purchases per validity period per Package:
<table>
  <tr class="insolventCustomersTableRow">
    <th>Package Name</th>
    <th>Validity Period</th>
    <th>Average Number of Optional Products</th>
  </tr>
  <tr th:each="totalPurchasesVP : ${TotalPurchasesValidityPeriod}">
    <td th:text="${totalPurchasesVP.packageName}"></td>
    <td th:text="${totalPurchasesVP.validity_period}"></td>
    <td th:text="${totalPurchasesVP.total_purchases}"></td>
  </tr>
</table>
</p>

<p> Total Value of Sales:
<table>
  <tr class="insolventCustomersTableRow">
    <th>Package Name</th>
    <th>Total Value with Optional Products</th>
    <th>Total Value without Optional Products</th>
  </tr>
  <tr th:each="totalValue : ${totalValueOfSales}">
    <td th:text="${totalValue.packageName}"></td>
    <td th:text="${totalValue.total_value_with_optp}"></td>
    <td th:text="${totalValue.total_value_without_optp}"></td>
  </tr>
</table>
</p>

<p> Best Seller Optional Product:
<table>
  <tr class="insolventCustomersTableRow">
    <th>Optional Product</th>
    <th>Total Value</th>
  </tr>
  <tr th:if="${bestSellerOptionalProduct}!=null">
    <td th:text="${bestSellerOptionalProduct.optionalProduct}"></td>
    <td th:text="${bestSellerOptionalProduct.total_value}"></td>
  </tr>
  <tr th:if="${bestSellerOptionalProduct}==null">
    No optional products available
  </tr>
</table>
</p>
</body>
</html>