body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
}

.inputForm{
    text-align: center;
    font-size: small;
    width: 250px;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    background: #f8f8f8;
    border-radius: 15px ;
}

.username{
    text-align: right;
    font-size: medium;
    width: 250px;
    margin: 4px;
}

table {
    border: 1px solid #ccc;
    align-content: center;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: auto;
    table-layout: fixed;
}

.table1 {
    border: 0 solid #ccc;
    align-content: center;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    margin: auto;
    padding: 0;
    width: auto;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border: 0.2px solid ;
    padding: .35em;
}
table th,
table td {
    border: 0.2px solid;
    padding: .625em;
    text-align: center;
}
.tr1{
    border: 0;
    padding: .05em;
}
.td1{
    border: 0;
    padding: .07em;
    text-align: center;
}

.tr2{
    border: 0;
    padding: .05em;
}
.td2{
    border: 0;
    padding: .07em;
    text-align: center;
}

table th {
    font-size: .85em;
    text-transform: uppercase;
    background-color: cornflowerblue;
    border-radius: 1px;
}
.button {
    font: bold 13px Arial;
    text-decoration: none;
    background-color: #20B2AA;
    color: #333333;
    padding: 3px 7px 3px 7px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.button1{
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button1:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

.insolventCustomersTableRow th {
    background-color: darkred;
    color: white;
}